<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Devices</title>
    </head>
    <body>
        <a href="/templates/device">Device</a>
        <h2>This is devices page</h2>
        <fieldset>
            <legend>GET</legend>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                </tr>
                {% for device in device_list %}
                <tr>
                    <td>{{device._id}}</td>
                    <td>{{device.status}}</td>
                </tr>
                {% endfor %}
            </table>
        </fieldset>

        <fieldset>
            <legend>POST</legend>
            {{msg}}
            <form method="post" action="">
                <input type="text" name="id" id="">
                <input type="text" name="status" id="">
                <input type="submit" value="POST">
            </form>
        </fieldset>

        <fieldset>
            <legend>PUT</legend>
            {{put_msg}}
            <form method="post" action="/templates/device/put">
                <input type="text" name="id" id="">
                <input type="text" name="status" id="">
                <input type="submit" value="POST">
            </form>
        </fieldset>

        <fieldset>
            <legend>Delete</legend>
            {{delete_msg}}
            <form method="post" action="/templates/device/delete">
                <input type="text" name="id" id="">
                <input type="submit" value="POST">
            </form>
        </fieldset>
    </body>
</html>