<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>fans</title>
    </head>
    <body>
        <a href="/templates/fan">fan</a>
        <h2>This is fans page</h2>
        <fieldset>
            <legend>GET</legend>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                </tr>
                {% for fan in fan_list %}
                <tr>
                    <td>{{fan._id}}</td>
                    <td>{{fan.status}}</td>
                </tr>
                {% endfor %}
            </table>
        </fieldset>

        <fieldset>
            <legend>POST</legend>
            {{msg}}
            <form method="post" action="/templates/fan">
                <input type="text" name="id" id="">
                <input type="text" name="status" id="">
                <input type="submit" value="POST">
            </form>
        </fieldset>

        <fieldset>
            <legend>PUT</legend>
            {{put_msg}}
            <form method="post" action="/templates/fan/put">
                <input type="text" name="id" id="">
                <input type="text" name="status" id="">
                <input type="submit" value="POST">
            </form>
        </fieldset>

        <fieldset>
            <legend>Delete</legend>
            {{delete_msg}}
            <form method="post" action="/templates/fan/delete">
                <input type="text" name="id" id="">
                <input type="submit" value="POST">
            </form>
        </fieldset>
    </body>
</html>